/* form search (search movies) */

.searchForm {
  position: relative;
  display: flex;
  border: 1px solid #bfbfbf;
  border-radius: 20px;
  overflow: hidden;
  background: none;
  color: var(--text-color-1);
  height: 35px;

  &>input {
    background: none;
    border: none;
    outline: none;
    color: aliceblue;
    width: 100%;
    padding: 0 15px;

    &::placeholder {
      color: #bfbfbf;
    }
  }

  button {
    background: none;
    border: none;
    margin-right: 10px;
    padding: 0 5px;
    color: #FFF;
    cursor: pointer;
  }
}